/* General */
body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    margin: 0;
}

button:focus {
    outline: 0;
}

/* Main header */
h1#header {
    background: paleturquoise;
    text-align: center;
    padding: 1em 0.75em;
}

/* Game section */
section#game {
    display: flex;
    flex-wrap: wrap;
}

/* Buttons */
div#buttons {
    margin: auto;
}

div#board {
    width: 50vw;
    min-width: 300px;
    max-width: 80vh;
    height: 50vw;
    min-height: 300px;
    max-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

div#board button {
    width: initial;
    height: initial;
    text-align: center;
    font-size: 4em;
    color: black;
    background-color: white;
    border: none;
}

div#board #butt0 {
    border-right: black solid 3px;
    border-bottom: black solid 3px;
}
div#board #butt1 {
    border-right: black solid 3px;
    border-bottom: black solid 3px;
    border-left: black solid 3px;
}
div#board #butt2 {
    border-left: black solid 3px;
    border-bottom: black solid 3px;
}
div#board #butt3 {
    border-right: black solid 3px;
    border-top: black solid 3px;
    border-bottom: black solid 3px;
}
div#board #butt4 {
    border-right: black solid 3px;
    border-left: black solid 3px;
    border-top: black solid 3px;
    border-bottom: black solid 3px;
}
div#board #butt5 {
    border-left: black solid 3px;
    border-top: black solid 3px;
    border-bottom: black solid 3px;
}
div#board #butt6 {
    border-right: black solid 3px;
    border-top: black solid 3px;
}
div#board #butt7 {
    border-right: black solid 3px;
    border-left: black solid 3px;
    border-top: black solid 3px;
}
div#board #butt8 {
    border-left: black solid 3px;
    border-top: black solid 3px;
}

button#reset {
    display: block;
    margin: 1em auto;
    background-color: paleturquoise;
    border-radius: 15px;
    font-size: 1.8em;
    padding: 0.2em;
    font-family: inherit;
}

/* Metrics */
div#metrics {
    margin: auto auto;
    height: initial;
    width: initial;
    padding-bottom: 7em;
    overflow-x: visible;
}

div#metrics #playerStatus {
    margin-top: 0;
    font-size: 1.3em;
}

div#metrics table {
    margin-top: 1.5em;
}
